__pycache__/

venv/

#test script that contains a GitHub token
runtest.py

#a script to bulk run a bunch of issue conversions
#also contains the GitHub token secret
batchrun.sh


#eclipse files
.project
.pydevproject

#emacs backups files
*~

#output/log files
*.out
